* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0%;
  font-family: "Oswald", sans-serif;
  background-color: #202020;
}

.mainHead {
  height: 7vh;
  width: 100vw;
  background-color: #5c75cd;
}

.header {
  height: 35vh;
  width: 100vw;
  background: #202020;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #202020), to(#5c75cd));
  background: linear-gradient(0deg, #202020 10%, #5c75cd 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header img {
  height: 95%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

/* width */
::-webkit-scrollbar {
  width: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #202020;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5c75cd;
}

/* Style buttons */
.btn {
  position: absolute;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
}

.btn a {
  color: white;
}

/* Darker background on mouse-over */
#soundtracks {
  width: 100vw;
  height: 10vh;
  background-color: #202020;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  padding-left: 1rem;
  position: relative;
}

.cont {
  height: 40vh;
  overflow: scroll;
  overflow-x: hidden;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 80px;
}

table.GeneratedTable {
  width: 100vw;
  margin: auto;
  background-color: #202020;
  border-collapse: collapse;
  border-width: 0rem;
  border-color: #ffcc00;
  border-style: solid;
  color: #cecece;
}

table.GeneratedTable td,
table.GeneratedTable th {
  height: 4rem;
  border-width: 0rem;
  border-color: #ffcc00;
  border-style: solid;
  text-align: center;
}

table.GeneratedTable thead {
  background-color: #242424;
}

tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 0.3rem;
}

td {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2e2e2e;
}

#number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 8%;
}

.coverImage {
  width: 15%;
}

.coverImage img {
  height: 100%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  width: 60%;
  padding-left: 0.5rem;
  text-align: left;
}

#more {
  width: 17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background-color: #2e2e2e;
}

#artist {
  font-size: 0.7rem;
}

td img {
  height: 1rem;
}

.plyr {
  height: 8vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.plyr--audio .plyr__controls {
  width: 100%;
  height: 100%;
  background: #1a1a1a;
  background: var(--plyr-audio-controls-background, #1a1a1a);
  color: #ffffff;
  color: var(--plyr-audio-control-color, #ffffff);
}

.plyr--audio .plyr__control.plyr__tab-focus,
.plyr--audio .plyr__control:hover,
.plyr--audio .plyr__control[aria-expanded="true"] {
  background: #1a1a1a;
  background: var(--plyr-audio-control-background-hover, var(--plyr-color-main, var(--plyr-color-main, #1a1a1a)));
  color: #fff;
  color: var(--plyr-audio-control-color-hover, #fff);
}

.plyr--full-ui input[type="range"] {
  color: #0099ff;
  color: var(--plyr-range-fill-background, var(--plyr-color-main, var(--plyr-color-main, #0099ff)));
}

span[id^="heart"] {
  font-size: 1.3rem;
  width: 100%;
  color: #cecece;
  background-color: #2e2e2e;
}

span[id^="heart"] i {
  background-color: #2e2e2e;
}

span[id^="heart"].liked {
  color: red;
}
/*# sourceMappingURL=style.css.map */